body{
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

@media screen and (min-width: 900px){
    /* 네비게이션 바 */
    .nav_var{
        display: flex;
        justify-content: space-between;
        padding: 12px 12px;
        background-color: black;
    }
    /* 네이게이션 로고색 변경 */
    .nav_var .nav_logo{
        color:red;
    }

    .nav_var li i{
        color:white;
    }

    .nav_var ul{
        margin: 0;
        padding: 0;
    }
    /* 비디오 */
    .video{
        width: 100%;
        height: 300px;
    }
    /* 동영상 정보 */
    .vid_information{
        margin: 0;
        padding: 12px 12px;
    }
    .vid_information .vid_hash{
        font-size: 15px;
        color:skyblue;
        padding: 5px 0;
    }
    .vid_information .vid_title{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        padding: 5px 0;
    }

    .vid_information .vid_views{
        font-size: 12px;
        color: gray;
    }
    /* 동영상 정보 아이콘들 */
    .vid_information .vid_functions_icons{
        display: flex;
        justify-content: space-between;
        padding: 20px 6%;
    }

    .vid_information .vid_func_like{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .vid_information .vid_func_hate{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .vid_information .vid_func_share{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .vid_information .vid_func_save{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .vid_information .vid_func_report{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .vid_information  i  span{
        padding-top: 6px;
    }
    /* 동영상 주인 정보 */
    .vid_information .vid_Writer_ifm{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .vid_information .vid_Writer_ifm li{
        display: flex;
        align-items: center;
    }
    .vid_Writer_ifm .vid_profile{
        border-radius: 50%;
        width: 50px;
        height: 50px;
    } 
    .vid_information .vid_name{
        padding-left: 10px;
    }
}